*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
ul{
    list-style-type: none;
    overflow: hidden;
    background-color: #BE3144;
    margin: 0;

}
li{
        float: right;
    }
li a{
    display: block;
    font-size: 30px;
    padding: 20px;
    color: #fff;
}
li a:hover{
    background-color: gray;
}

.name{
    background-color: #323436;
    padding: 200px;
}
.name h1{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 0;
    color: #fff;
}
.name p{
    text-align: center;
    color: #BE3144;
    font: 2em Arial;
    margin-top: 0px;
    font-style: italic;
}