*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.Nav{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background-color: #BE3144;
    z-index: 10;
}
ul{
    display: flex;
    justify-content: end;
    list-style-type: none;
    overflow: hidden;
    margin: 0;

}
li a{
    display: block;
    font-size: 30px;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}
li a:hover{
    background-color: gray;
}

.name{
    background-color: #323436;
    padding: 200px;
}
.name h1{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 0;
    color: #fff;
}
.name p{
    text-align: center;
    color: #BE3144;
    font: 2em Arial;
    margin-top: 0px;
    font-style: italic  ;
}
.projects{
    background-color: #45567D;
}
.projects h1{
    color: #fff;
    text-align: center;
    padding-top: 5rem;
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid white;
    width: 38rem;
    margin: auto;
}
.Cards{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100vw;
    height: auto;
    background-color: #45567D;
    padding-top: 5rem;
    gap:1rem;
    padding-left: 1rem;
}
.Card{
    flex-direction: column;
    flex-wrap: wrap;
    width: 25rem;
    height: 30rem;
    margin-bottom: 0;
}
.Card img{
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}
.btn{
    width: 100%;
    background-color: #303841;
    height: 4.5rem;
    border: none;
    color: white;
    font-size: 1.2rem;
    font-family: sans-serif;
    transform:translateY(-0.3rem);
    cursor: pointer;
}
.card-sign{
    color: #FF7F4E;
    opacity: 0;
    transition: all 0.5s ease;
}
.Card:hover .card-sign{
    opacity: 1;
}
.btn-contianer{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
}
.all-btn{
    background-color: #303841;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
    font-family: sans-serif;
    width: 8rem;
    height: 2.5rem;
    transition: all 0.5s ease-in-out;
    border-radius: 2px;
}
.all-btn:hover{
    background-color: #BE3144;
}
.sign {
    transition: all 0.3s ease;
  }
  
  .all-btn:hover .sign {
    margin-left: 3px;
  }
.footer{
    background-color: #303841;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.foot-head{
    font-family: sans-serif;
    font-size: 3rem;
}
.heading-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid #BE3144;
    width: 100vw;
    height: auto;
    padding-top: 5rem;
}
.small-head{
    font-family: sans-serif;
    font-weight: lighter;
    margin-top: 0.5rem;
}
.social-container{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-top: 5rem;
    padding-bottom: 5rem;
    height: 10rem;
}
.social{
    font-size: x-large;
    font-family: sans-serif;
    transition: all 0.4s ease;
    height: 1.6rem;
}
.link{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.social:hover{
    margin-top: 0.5rem;
}
.fake{
    align-self: flex-start;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: large;
    font-family: sans-serif;
    font-weight: lighter;
}
.foot-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
.social-image{
    filter: invert(1);
    height: 1.2rem;
    width: 1.2rem;
}